name: Release

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  nodejs:
    uses: ./.github/workflows/nodejs.yml
    secrets: inherit
  action:
    uses: ./.github/workflows/action.yml
  release:
    runs-on: ubuntu-latest
    if: ${{ github.ref_type == 'tag' }}
    needs:
      - nodejs
      - action
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          install_args: "node"
      - run: npm ci
      - run: npm run build
      - uses: JasonEtco/build-and-tag-action@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
